
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
#sidebar-content, #sidebar-title {
    word-break: break-word;
    margin-right: 40px;
}

.marker-position {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    font-weight: 700;
    background-color: #fff;
  }